.body {
    margin: 0rem;                                           // enlève la marge par défaut
    background-color: $color-body;
    .container {
        width: $largeur-page;
        height: $Hpage - map-get($footer, hauteur) - 4vh;        // ne dépasse pas la marge en bas     
        height: $Hpage - map-get($footer, hauteur);        // ne dépasse pas la marge en bas     
        overflow: auto;                                         // ne dépasse pas la marge en bas
        margin: auto;                                           // centrage page
        margin-top: 2vh;                                        // création marge haute
        background-color: $color-container;
        @media screen and (max-width: 600px) and (orientation: portrait){
            margin-top: 0;
            width: 100vw;
            height: $Hpage - map-get($footer, hauteur);
        }
        @media screen  and (orientation: landscape) {
            margin-top: 0;
            width: 100vw;
        }        
    }
}

