.footer {
    position: fixed;
	bottom: 2vh;
    width: $largeur-page;
    max-width: 40rem;
    min-height: map-get($footer, hauteur);
    background-color: map-get($footer, color-fond);
    display: flex;
    a{
        margin: auto;
        font-size: map-get($footer, corps);
        font-family: map-get($footer, font);
        color: map-get($footer, color-text);
        animation: anim-bouton 3s infinite;           
    }
    :first-child {
        margin-left: 3vh;
    }
    :last-child {
        margin-right: 3vh;
    }
    @media screen and (max-width: 600px) and (orientation: portrait) {
        bottom: 0;
        width: 100%;
        max-width: 100%;
    }
    @media screen and (max-height: 500px) and (orientation: landscape) {
        bottom: 0;
        width: 100%;
        max-width: 100%;
        height: 10vh;
    }
}
@keyframes anim-bouton {
    0%  {transform: rotate(0deg)}
    3%  {transform: rotate(-2deg)}
    4%  {transform: rotate(2deg)}
    5%  {transform: rotate(0deg)}
    8%  {transform: rotate(-2deg)}
    9%  {transform: rotate(2deg)}
    12% {transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
}