.main  {
    min-height: $Hpage - map-get($footer, hauteur) - 4vh - 10vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    > p {
        font-size: 1.53rem;
        font-weight: bold;
        margin-top: 2rem;
    }
    .menus {
        margin: 0 4rem;
        display: flex;                                  // flexbox des menus entre eux
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        > h2 {
            font-weight: normal;
            margin-top: 2rem;
        }    
    }
    .bouton {
        padding: map-get($bouton, paddingH) map-get($bouton, paddingW);
        margin: map-get($bouton, margin);
        border-radius: map-get($bouton, radius);
        background-color: map-get($bouton, color-fond);
        p {
            margin: 0;
            font-family: map-get($bouton, font);
            font-weight: map-get($bouton, graisse);
            font-size: map-get($bouton, corps);
            color: map-get($bouton, color-text);
        }
        &__pt-un {
            opacity: 0;
            animation: pts_suspension 1.3s infinite;
            animation-delay: 0.0s;
        }
        &__pt-deux {
            opacity: 0;
            animation: pts_suspension 1.3s infinite;
            animation-delay: 0.2s;
        }
        &__pt-trois{
            opacity: 0;
            animation: pts_suspension 1.3s infinite;
            animation-delay: 0.3s;
        }
    }
}
@keyframes pts_suspension {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}