
.mentions {
    margin: 2rem;
    padding: 1rem;
    text-align: justify;
    font-size: .7rem;
    background-color: rgb(227, 230, 223);
    h3 {
        text-align: center;
    }

}
.prochainement {
    box-shadow: 0px 0px 10px rgb(192, 191, 191);
    padding: 1rem;
    h3 {
        font-size: 1.2rem;
        text-align: center;
    }
    img {
        width: 100%;
    }
    p {
        font-size: .8rem;
        text-align: justify;
    }
}
.contacter {
    align-content: flex-end;
    max-width: 80%;
    box-shadow: 0px 0px 10px rgb(192, 191, 191);
    padding: 1rem;
    form {
        div > p {
            display: flex;
            justify-content: flex-start;
        }
        label {
            flex: 1;
            text-align: right;
            margin-right: 1rem;
        }
        input {
            margin-left: auto;
            flex: 2.5;
        }
        div + div {
            display: flex;
            flex-direction: column;
            label {
                text-align: left;
            }
        }
        textarea {
            flex: 1;
        }
    }
}