.menu{
    box-shadow: 0px 0px 10px rgb(192, 191, 191);    // ombre sur menu

    &__style1 {
        @include petit-menu($style1);
        &--large {
            @include grand-menu($style1);            
        }
    }
    &__style2 {
        @include petit-menu($style2);
        &--large {
            @include grand-menu($style2);            
        }
    }
    &__style3 {
        @include petit-menu($style3);
        &--large {
            @include grand-menu($style3);            
        }
    }
    &__style4 {
        @include petit-menu($style4);
        &--large {
            @include grand-menu($style4);            
        }
    }
    &__logo-note-haut {
        width: 3rem;
        display: block;
        //margin: auto;
    }
    &__logo-note-haut-GM {
        width: 3rem;
        display: block;
        margin: auto;
    }  
    &__logo-note-bas {
        width: 1.4rem;
        margin-right: .5rem;
    }
    &__scale {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        transition-property: transform;
        transform: scale(1);
        transition-duration: 2000ms;
        &:hover {
           transform: scale(1.25);
        }
    }
}


