@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

* {
  font-family: arial, serif, verdana, sans-serif;
}

.menu {
  box-shadow: 0px 0px 10px #c0bfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__style1 {
  width: 13.3rem;
  height: 19rem;
  margin: 2rem auto 0rem;
  text-align: center;
  background-color: #ffbe93;
  transition: opacity 2000ms;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style1 {
    width: 90vw;
    height: 135vw;
  }
}
.menu__style1 h2 {
  font-family: "Devonshire";
  font-size: 1.2rem;
  color: black;
  font-weight: normal;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style1 h2 {
    font-size: 1.8rem;
  }
}
.menu__style1 h2.degrade-texte {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__style1 h3 {
  font-family: "Kalam";
  font-size: 1.5rem;
  margin: 1rem 0rem 0rem 0rem;
  color: black;
  font-weight: normal;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style1 h3 {
    font-size: 2.25rem;
  }
}
.menu__style1:hover {
  opacity: 0.3;
}
.menu__style1--large {
  padding: 1rem 3rem;
  background-color: #ffbe93;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style1--large {
    padding: 0.5rem;
  }
}
.menu__style1--large h2, .menu__style1--large h4 {
  font-family: "Devonshire";
  font-size: 2rem;
  margin: auto;
  color: black;
  font-weight: normal;
}
.menu__style1--large h2.degrade-texte, .menu__style1--large h4.degrade-texte {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__style1--large h4 {
  font-size: 1.5rem;
}
.menu__style1--large .component:hover h3:after {
  transform: scaleX(1);
}
.menu__style1--large .component__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 0 0;
}
.menu__style1--large .component__titre .filet-svg {
  max-width: 28%;
}
.menu__style1--large .component__titre .filet-svg--inversion {
  transform: scaleX(-1);
}
.menu__style1--large .component__titre > h3 {
  font-family: "Kalam";
  font-size: 1.2rem;
  color: black;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style1--large .component__titre > h3 {
    font-size: 1.8rem;
  }
}
.menu__style1--large .component__titre > h3:after {
  display: block;
  content: "";
  border-bottom: solid 1px;
  border-color: initial;
  transform: scaleX(0);
  transition: transform 600ms ease-in-out;
}
.menu__style1--large .component__titre > h3.souligne-gaucheDroite:after {
  transform-origin: 0% 50%;
}
.menu__style1--large .component__detail {
  margin: 0 1rem;
}
.menu__style1--large .component__detail--retrait {
  margin: 0;
}
.menu__style1--large .component__detail p {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0rem 0rem 0rem;
  font-family: "Kalam";
  font-size: 0.8rem;
  margin: 0.2rem 0rem 0rem 0rem;
  color: black;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style1--large .component__detail p {
    display: block;
    font-size: 1.2rem;
  }
}
.menu__style1--large .component__detail p span {
  margin: 0.2rem 0rem 0rem 0rem;
  font-family: "Kalam";
  font-size: 0.8rem;
  margin: 0.2rem 0rem 0rem 0rem;
  color: black;
  text-align: center;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style1--large .component__detail p span {
    display: block;
    font-size: 1.2rem;
  }
}
.menu__style1--large .component__detail p span:last-child {
  margin-left: 1rem;
  font-weight: bold;
}
.menu__style2 {
  width: 13.3rem;
  height: 19rem;
  margin: 2rem auto 0rem;
  text-align: center;
  background-color: #fce0c9;
  transition: opacity 2000ms;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style2 {
    width: 90vw;
    height: 135vw;
  }
}
.menu__style2 h2 {
  font-family: "Redressed";
  font-size: 1.4rem;
  color: black;
  font-weight: normal;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style2 h2 {
    font-size: 2.1rem;
  }
}
.menu__style2 h2.degrade-texte {
  background-image: linear-gradient(to right, #e9810a, #1e3ab4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__style2 h3 {
  font-family: "Frank Ruhl Libre";
  font-size: 1.5rem;
  margin: 1rem 0rem 0rem 0rem;
  color: #e9810a;
  font-weight: normal;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style2 h3 {
    font-size: 2.25rem;
  }
}
.menu__style2:hover {
  opacity: 0.3;
}
.menu__style2--large {
  padding: 2rem 1rem;
  background-color: #fce0c9;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style2--large {
    padding: 0.5rem;
  }
}
.menu__style2--large h2, .menu__style2--large h4 {
  font-family: "Redressed";
  font-size: 2.5rem;
  margin: auto;
  color: black;
  font-weight: normal;
}
.menu__style2--large h2.degrade-texte, .menu__style2--large h4.degrade-texte {
  background-image: linear-gradient(to right, #e9810a, #1e3ab4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__style2--large .component:hover h3:after {
  transform: scaleX(1);
}
.menu__style2--large .component__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 0 0;
}
.menu__style2--large .component__titre .filet-svg {
  max-width: 28%;
}
.menu__style2--large .component__titre .filet-svg--inversion {
  transform: scaleX(-1);
}
.menu__style2--large .component__titre > h3 {
  font-family: "Frank Ruhl Libre";
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  margin: 1.2rem 0rem 1.5rem 0rem;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style2--large .component__titre > h3 {
    font-size: 1.5rem;
  }
}
.menu__style2--large .component__titre > h3:after {
  display: block;
  content: "";
  border-bottom: solid 1px;
  border-color: initial;
  transform: scaleX(0);
  transition: transform 600ms ease-in-out;
}
.menu__style2--large .component__titre > h3.souligne-gaucheDroite:after {
  transform-origin: 0% 50%;
}
.menu__style2--large .component__detail {
  margin: 0 1rem;
}
.menu__style2--large .component__detail--retrait {
  margin: 0;
}
.menu__style2--large .component__detail p {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0rem 0rem 0rem;
  font-family: "Frank Ruhl Libre";
  font-size: 0.8rem;
  margin: 0.2rem 0rem 0rem 0rem;
  color: black;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style2--large .component__detail p {
    display: block;
    font-size: 1.2rem;
  }
}
.menu__style2--large .component__detail p span {
  margin: 0.2rem 0rem 0rem 0rem;
  font-family: "Frank Ruhl Libre";
  font-size: 0.8rem;
  margin: 0.2rem 0rem 0rem 0rem;
  color: black;
  text-align: center;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style2--large .component__detail p span {
    display: block;
    font-size: 1.2rem;
  }
}
.menu__style2--large .component__detail p span:last-child {
  margin-left: 1rem;
  font-weight: bold;
}
.menu__style2--large .component.color-A p span, .menu__style2--large .component h3 {
  color: #e9810a;
}
.menu__style2--large .component.color-B h3, .menu__style2--large .component p span {
  color: #7227a3;
}
.menu__style2--large .component.color-C h3, .menu__style2--large .component p {
  color: #172c8b;
}
.menu__style3 {
  width: 13.3rem;
  height: 19rem;
  margin: 2rem auto 0rem;
  text-align: center;
  background-color: #ebf0f1;
  transition: opacity 2000ms;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style3 {
    width: 90vw;
    height: 135vw;
  }
}
.menu__style3 h2 {
  font-family: "Cookie";
  font-size: 1.8rem;
  color: #4763a0;
  font-weight: normal;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style3 h2 {
    font-size: 2.7rem;
  }
}
.menu__style3 h2.degrade-texte {
  background-image: radial-gradient(circle at left, #002fff, #0bb9fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__style3 h3 {
  font-family: "Kalam";
  font-size: 1.5rem;
  margin: 1rem 0rem 0rem 0rem;
  color: #006eff;
  font-weight: normal;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style3 h3 {
    font-size: 2.25rem;
  }
}
.menu__style3:hover {
  opacity: 0.3;
}
.menu__style3--large {
  padding: 2rem 1rem;
  background-color: #ebf0f1;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style3--large {
    padding: 0.5rem;
  }
}
.menu__style3--large h2, .menu__style3--large h4 {
  font-family: "Cookie";
  font-size: 3.5rem;
  margin: auto;
  color: #4763a0;
  font-weight: normal;
}
.menu__style3--large h2.degrade-texte, .menu__style3--large h4.degrade-texte {
  background-image: radial-gradient(circle at left, #002fff, #0bb9fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__style3--large .component:hover h3:after {
  transform: scaleX(1);
}
.menu__style3--large .component__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 0 0;
}
.menu__style3--large .component__titre .filet-svg {
  max-width: 28%;
}
.menu__style3--large .component__titre .filet-svg--inversion {
  transform: scaleX(-1);
}
.menu__style3--large .component__titre > h3 {
  font-family: "Kalam";
  font-size: 1rem;
  color: black;
  font-weight: normal;
  text-align: center;
  margin: 1rem 0rem 0.5rem 0rem;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style3--large .component__titre > h3 {
    font-size: 1.5rem;
  }
}
.menu__style3--large .component__titre > h3:after {
  display: block;
  content: "";
  border-bottom: solid 1px;
  border-color: initial;
  transform: scaleX(0);
  transition: transform 600ms ease-in-out;
}
.menu__style3--large .component__titre > h3.souligne-gaucheDroite:after {
  transform-origin: 0% 50%;
}
.menu__style3--large .component__detail {
  margin: 0 1rem;
}
.menu__style3--large .component__detail--retrait {
  margin: 0;
}
.menu__style3--large .component__detail p {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0rem 0rem 0rem;
  font-family: "Kalam";
  font-size: 0.8rem;
  margin: 0.2rem 0rem 0rem 0rem;
  color: black;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style3--large .component__detail p {
    display: block;
    font-size: 1.2rem;
  }
}
.menu__style3--large .component__detail p span {
  margin: 0.2rem 0rem 0rem 0rem;
  font-family: "Kalam";
  font-size: 0.8rem;
  margin: 0.2rem 0rem 0rem 0rem;
  color: black;
  text-align: center;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style3--large .component__detail p span {
    display: block;
    font-size: 1.2rem;
  }
}
.menu__style3--large .component__detail p span:last-child {
  margin-left: 1rem;
  font-weight: bold;
}
.menu__style4 {
  width: 13.3rem;
  height: 19rem;
  margin: 2rem auto 0rem;
  text-align: center;
  background-color: white;
  transition: opacity 2000ms;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style4 {
    width: 90vw;
    height: 135vw;
  }
}
.menu__style4 h2 {
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: normal;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style4 h2 {
    font-size: 36px;
  }
}
.menu__style4 h2.degrade-texte {
  background-image: linear-gradient(to right, #3e9733, #bce6ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__style4 h3 {
  font-family: "Kalam";
  font-size: 1.5rem;
  margin: 1rem 0rem 0rem 0rem;
  color: #6ead66;
  font-weight: normal;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style4 h3 {
    font-size: 2.25rem;
  }
}
.menu__style4:hover {
  opacity: 0.3;
}
.menu__style4--large {
  padding: 2rem 1rem;
  background-color: white;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style4--large {
    padding: 0.5rem;
  }
}
.menu__style4--large h2, .menu__style4--large h4 {
  font-family: "Kaushan Script";
  font-size: 3rem;
  margin: auto;
  font-weight: normal;
}
.menu__style4--large h2.degrade-texte, .menu__style4--large h4.degrade-texte {
  background-image: linear-gradient(to right, #3e9733, #bce6ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__style4--large .component:hover h3:after {
  transform: scaleX(1);
}
.menu__style4--large .component__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 0 0;
}
.menu__style4--large .component__titre .filet-svg {
  max-width: 28%;
}
.menu__style4--large .component__titre .filet-svg--inversion {
  transform: scaleX(-1);
}
.menu__style4--large .component__titre > h3 {
  font-family: "Kalam";
  font-size: 1.2rem;
  color: black;
  font-weight: normal;
  text-align: center;
  margin: 1rem 0rem 0.5rem 0rem;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style4--large .component__titre > h3 {
    font-size: 1.8rem;
  }
}
.menu__style4--large .component__titre > h3:after {
  display: block;
  content: "";
  border-bottom: solid 1px;
  border-color: initial;
  transform: scaleX(0);
  transition: transform 600ms ease-in-out;
}
.menu__style4--large .component__titre > h3.souligne-gaucheDroite:after {
  transform-origin: 0% 50%;
}
.menu__style4--large .component__detail {
  margin: 0 1rem;
}
.menu__style4--large .component__detail--retrait {
  margin: 0;
}
.menu__style4--large .component__detail p {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0rem 0rem 0rem;
  font-family: "Kalam";
  font-size: 0.8rem;
  margin: 0.2rem 0rem 0rem 0rem;
  color: black;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style4--large .component__detail p {
    display: block;
    font-size: 1.2rem;
  }
}
.menu__style4--large .component__detail p span {
  margin: 0.2rem 0rem 0rem 0rem;
  font-family: "Kalam";
  font-size: 0.8rem;
  margin: 0.2rem 0rem 0rem 0rem;
  color: black;
  text-align: center;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .menu__style4--large .component__detail p span {
    display: block;
    font-size: 1.2rem;
  }
}
.menu__style4--large .component__detail p span:last-child {
  margin-left: 1rem;
  font-weight: bold;
}
.menu__logo-note-haut {
  width: 3rem;
  margin: 0 auto;
}
.menu__logo-note-bas {
  width: 1.4rem;
  margin-right: 0.5rem;
}
.menu__scale {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-property: transform;
  transform: scale(1);
  transition-duration: 2000ms;
}
.menu__scale:hover {
  transform: scale(1.25);
}

.body {
  margin: 0rem;
  background-color: #e3e5e6;
}
.body .container {
  max-width: 38rem;
  height: 91vh;
  overflow: auto;
  margin: auto;
  margin-top: 2vh;
  background-color: white;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .body .container {
    margin-top: 0;
    height: 95vh;
  }
}

.header {
  min-height: 5rem;
  background-color: green;
  display: flex;
}
.header a {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
}
.header h1 {
  margin: auto;
  font-family: "Prompt";
  color: gold;
  font-size: 2.2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main > p {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1rem;
}
.main .menus {
  margin: 0rem 3.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main .menus > h2 {
  font-weight: normal;
  margin-top: 2rem;
}
.main .bouton {
  padding: 0.5rem 2rem;
  margin: 2rem auto 1rem;
  border-radius: 0.5rem;
  background-color: green;
}
.main .bouton p {
  margin: 0;
  font-family: "Prompt";
  font-weight: 300;
  font-size: 1.4rem;
  color: gold;
}
.main .bouton__pt-un {
  opacity: 0;
  animation: pts_suspension 1.3s infinite;
  animation-delay: 0s;
}
.main .bouton__pt-deux {
  opacity: 0;
  animation: pts_suspension 1.3s infinite;
  animation-delay: 0.2s;
}
.main .bouton__pt-trois {
  opacity: 0;
  animation: pts_suspension 1.3s infinite;
  animation-delay: 0.3s;
}

@keyframes pts_suspension {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.footer {
  position: fixed;
  bottom: 2vh;
  width: 38rem;
  min-height: 5vh;
  background-color: green;
  display: flex;
}
.footer a {
  margin: auto;
  font-size: 1rem;
  font-family: "Prompt";
  color: gold;
  animation: anim-bouton 3s infinite;
}
.footer :first-child {
  margin-left: 3vh;
}
.footer :last-child {
  margin-right: 3vh;
}
@media screen and (max-width: 600px) {
  .footer {
    bottom: 0;
    width: 100%;
  }
}

@keyframes anim-bouton {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-2deg);
  }
  4% {
    transform: rotate(2deg);
  }
  5% {
    transform: rotate(0deg);
  }
  8% {
    transform: rotate(-2deg);
  }
  9% {
    transform: rotate(2deg);
  }
  12% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.mentions {
  margin: 2rem;
  padding: 1rem;
  text-align: justify;
  font-size: 0.7rem;
  background-color: #e3e6df;
}
.mentions h3 {
  text-align: center;
}

.prochainement {
  box-shadow: 0px 0px 10px #c0bfbf;
  padding: 1rem;
}
.prochainement h3 {
  font-size: 1.2rem;
  text-align: center;
}
.prochainement img {
  width: 100%;
}
.prochainement p {
  font-size: 0.8rem;
  text-align: justify;
}

.contacter {
  align-content: flex-end;
  max-width: 80%;
  box-shadow: 0px 0px 10px #c0bfbf;
  padding: 1rem;
}
.contacter form div > p {
  display: flex;
  justify-content: flex-start;
}
.contacter form label {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}
.contacter form input {
  margin-left: auto;
  flex: 2.5;
}
.contacter form div + div {
  display: flex;
  flex-direction: column;
}
.contacter form div + div label {
  text-align: left;
}
.contacter form textarea {
  flex: 1;
}

/*# sourceMappingURL=main.css.map */
